/* Projects.module.scss */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2rem;
  justify-items: center;
}

.item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: scale(1.05); /* Enlarge the item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow for elevation */
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center; /* Center-align the titles */
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  p {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    background-color: white;
    border-radius: 8px;
    padding: 4rem;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .technologies {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
  }

  .links {
    display: flex;
    justify-content: space-around;

    a {
      font-size: 1rem;
      color: #60b4c4;
      text-decoration: none;
      transition: color 0.2s;
      cursor: pointer;

      &:hover {
        color: #301b5e;
      }
    }
  }
}





