.containerProjects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2rem;
  justify-items: center;
  text-align: left;
  perspective: 1000px;
}

.item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  animation: rotate 20s linear infinite;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #bf8575;

  &:hover {
    transform: rotateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow for elevation */
    animation-play-state: paused;
  }

  .projectTitle {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    text-align: center; /* Center-align the titles */
    color: #1a3d5c;
  }

  .projectDescription {
    font-weight: bold;
    ul {
      padding-left: 20px;
      color: #2c3437;
    }
    li {
      margin-bottom: 5px;
    }
  }
  .projectImage {
    max-width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 1rem;
    border: solid 1rem #1a3d5c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .projectDetails {
    font-size: 1.3rem;
    list-style-type: disc;
    .projectDescription {
      font-weight: bold;
      list-style: disc;
      
      ul {
       
        padding-left: 20px;
      }
      li {
        margin-bottom: 5px;
      }
    }
  }

  .projectSummary {
    font-size: 1.3rem;
    p {
      max-height: 120px; /* Adjust the height for the collapsed summary */
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .expandButton {
    font-size: 1.6rem;
    background-color: #60b4c4;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #301b5e;
    }
  }

  .technologies {
    font-size: 1.3rem;
    color: #555;
    margin-bottom: 0.5rem;
    margin: 0.5rem 0;
    ul {
      padding-left: 20px;
      
    }
    li {
      margin-bottom: 5px;
    }
  }

  .links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    a {
      font-size: 1.6rem;
      color: #60b4c4;
      text-decoration: underline;
      transition: color 0.2s;
      cursor: pointer;

      &:hover {
        color: #301b5e;
        transform: scale(1.9);
      }
    }
  }
}


.item.show-details {
  transform: rotateY(0);
  animation-play-state: paused;
}


@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
