
.eduContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h2 {
      font-size: 47px;
      margin-bottom: 1rem;
      color: #572387;
    }
  
    .eduItem {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 1rem;
      margin-bottom: 1rem;
      width: 100%;
      max-width: 400px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
  
      p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
  
      .dates {
        font-size: 0.9rem;
        color: #555;
      }
    }
  }
  .edImage {
    padding: auto;
  }
