.container {
  padding: auto;
}
.img {
    width: 50px; /* Set the desired width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }
.content {
    padding: auto;
}