
.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align the left column at the top */
  justify-content: space-between; /* Create space between columns */
  width: 100%;
  padding: 1rem;
}

.leftColumn {
  width: 60%; /* Adjust as needed */
  margin-right: 1rem;
}

.rightColumn {
  width: 47%; /* Adjust as needed */
}

.skills {
  padding: 1rem;
  text-align: center;
  margin-top: auto; /* Push the education section to the bottom */
  margin-bottom: 70px;
}

.education {
 padding: 1rem;
 align-items: center;
}

.experience {
  margin-top: 10px;
  align-items: center;
}

.contactButton {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: #60b4c4;
}

.contact p {
  margin: 20px 0;
}

.portraitImg {
  padding: 4px;
  margin: 2px;
  border-radius: 6px;
  border: solid #161417 .175rem;
  max-width: 380px;
  margin-left: 45px;
  margin-right: 25px;
  background-color: #60b4c4;
}

.intro {
  max-width: 550px;
  
}

.aboutBio {
  line-height: 1.5;
  color: #2c3437;
  background-color: #f7f6f5;
  border-radius: 6px;
  padding: 22px;
  margin: 22px;
  text-align: center;
}