
.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align the left column at the top */
  justify-content: space-between; /* Create space between columns */
  width: 100%;
  padding: 1rem;
}

.leftColumn {
  width: 40%; /* Adjust as needed */
  margin-right: 1rem;
}

.rightColumn {
  width: 60%; /* Adjust as needed */
}

.skills {
  padding: 1rem;
}

.education {
  text-align: center;
  margin-top: auto; /* Push the education section to the bottom */
  margin-bottom: 20px;
}

.contactButton {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: #0056b3;
}

.contact p {
  margin: 20px 0;
}
