.contianer {
    padding: auto;
    max-width: 800px;
}
.footer {
    padding: 10px; 
    text-align: center;
    position: absolute;
    bottom: 0;
  }
  /* AboutPage.module.scss */


  
  
  
  
  .contactButton {

    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contactButton:hover {
    background-color: #0056b3;
  }
  
  .contact p {
    margin: 20px 0;
  }
  
