/* Navbar.scss */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
  
    ul.navbar-nav {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
  
      li.nav-item {
        margin-right: 20px;
  
        a {
          text-decoration: none;
          color: #fff;
          transition: color 0.3s;
  
          &:hover {
            color: #00bcd4;
          }
        }
      }
    }
  
    .navbar-toggle {
      display: none;
      flex-direction: column;
      cursor: pointer;
  
      span {
        height: 3px;
        width: 25px;
        background-color: #fff;
        margin: 3px 0;
      }
    }
  
    &.active {
      .navbar-toggle {
        span {
          background-color: #00bcd4;
        }
      }
  
      ul.navbar-nav {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
      }
    }
  }
  