@import '../../scss/styles.scss';


.NavBar {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    background-color:#4c5570;
    color: white;
}
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
        a {
            text-decoration: underline;
            color: #f7f6f5;
            &:hover {
                color:aliceblue;
                background-color: #ced5eb;
                cursor: pointer;
            }
          }
    }
    


