/* Footer.module.scss */

.footer {
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1c30;
  color: #fff;
  width: 100%;
  opacity: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin: 0 10px;
  }

  img {
    width: 30px; /* Adjust the width to your preferred size */
    height: auto; /* To maintain the aspect ratio */
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}

.links {
  padding: auto;
}