/* Footer.module.scss */

.footer {
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1c30;
  color: #fff;
  width: 100%;
  opacity: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust to align to the right */
}

.linked {
  display: flex;
  align-items: center;
  img {
    width: 35px;
    height: auto;
    padding: 8px; /* Reduce padding to bring the links closer to the center */
    border-radius: 50%;
    margin-right: 24px; /* Add margin to push the links to the right */
  }
  
}

.contactInfo {
  margin-bottom: 10px;
  display: flexs;
  align-items: center; /* Center the content vertically within the contactInfo div */
  justify-content: center; /* Center the content horizontally within the contactInfo div */
}

.email {
  font-size: 0.9rem;
  color: #f7f6f5;
  cursor: pointer;
}
.links {
  display: flex;
  justify-content: space-between;
}

a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s;
  position: relative;
  padding: 20px;
  margin: -20px;
}

a::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  z-index: -1;
}

a:hover::before {
  opacity: 1;
}

a:hover::before,
a:hover {
  transform: scale(1.9);
}


p {
  margin: 0;
}
