/* Experience.module.scss */

.experienceContainer {
  padding: 2rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  background-color: #60b4c4; /* Dark background color */
  border-radius: 10px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 

  .workTitle {
    font-size: 47px;
    margin-bottom: 1rem;
    color: #572387;
  }

  .experienceItem {
    padding: 1rem;
    margin-bottom: 2rem; /* Increase margin to separate entries */
    width: 100%;
    max-width: 600px; /* Wider container for better spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #161417;
    border-radius: 10px;
    

    .expTitle {
      font-size: 32px; /* Slightly larger heading */
      margin-bottom: 1rem; /* More spacing below the title */
      color: #60b4c4;
    }

    .company {
      font-size: 1.1rem; /* Larger font size for description */
      margin-bottom: 1rem; /* More spacing between lines */
    }

    .dates {
      font-size: 1rem;
      color: #555;
    }

    

    .expLink {
      color: aquamarine; /* Style for project links */
      text-decoration: none;
      text-align: right;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.experienceList {
  list-style-type: none;
  padding: auto;
}

.expoBulletList {
  font-size: 20px;
  list-style: disc; /* Use bullets as list-style */
  margin-bottom: 10px;
}
.salonLink {
  color: white;
}