$color1: #646e67; // Sage
$color2: #3d4742; // Olive Grey
$color3: #2c3437; // Dark Forest Grey
$color4: #e37d4e; // Coral
$color5: #e4ead8; // Sage White
$color6: #4c5570; // Medium Grey Purple
$color7: #ced5eb; // Light Blue White
$color8: #f7f6f5; // Light Orange White
$color9: #1f1c30; // Dark Purple
$color10:#572387; // DRDC purple
$color11: #2a1961; // Dark Blue
$color12: #1a3d5c; // Dark Teal
$color13: #161417;
$color14: #60b4c4;

:export {
  col-1: $color1;
  col-2: $color2;
  col-3: $color3;
  col-4: $color4;
  col-5: $color5;
  col-6: $color6;
  col-10: $color10;
  col-14: $color14;
  col-9: $color9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gloock', serif; 
  animation: backgroundAnimation 25s ease-in-out infinite;
}

main {
  background-color: #ced5eb;
  padding: 1.5px;
 }

.container {
  padding: 5px;
  border-radius: 4px; 
}

h1 {
  background-image: linear-gradient(
    90deg,
    $color11 12.5%,
    $color2 25%,
    $color3 37.5%,
    $color4 50%,
    $color5 62.5%,
    $color6 75%,
    $color10 87.5%,
    $color14 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 38s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-left:20px;
  transition: ease-in-out;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.875rem; 
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* animations */
@keyframes backgroundAnimation {
  0% {
    background-color: $color12; /* Starting color Dark Teal */
  }
  8% {
    background-color: $color1; /* Transition color (Sage) */
  }
  17% {
    background-color: $color2; /* Transition to Olive Grey */
   
  }
  25% {
    background-color: $color3; /* Transition to Dark Forest Grey */
    
  }
  37% {
    background-color: $color13 ; /* Transition color purple black */
  }
  50% {
    background-color: $color9; /* Transition color Dark Purple */
  }
  63% {
    background-color: $color10; /* Transition color DRDC purple  */
  }
  75% {
    background-color: $color9;  /* Transition to Dark Purple */
  }
  84% {
    background-color: $color11; /* Transition color  Dark Blue */
  }
  100% {
    background-color: $color12; /* Ending color Dark Teal */
  }
}
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}





