/* App.scss */
$color1: #84a888; //sage
$color2: #3d4742; // olive grey
$color3: #2c3437; // dark forest grey
$color4: #e37d4e; // coral
$color5: #e4ead8; // sage white

:export {
col-1: $color1;
col-2: $color2;
col-3: $color3;
col-4: $color4;
col-5: $color5;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    // background-image: url('https://imgur.com/gallery/K9ZwK62');
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  main {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  /*
  .Projects {
    /* Your styling here */
  /*}
  */
  
  /* Responsive layout adjustments */
  @media (max-width: 768px) {
    main {
      padding: 10px;
    }
  }
  
  /* Add more media queries as needed */
  